{% extends 'index.html' %}

{% load static %}
 

{% block formularios %}

<h1>Lista de Mazos</h1>

        {% for lista in mazos %}
            <p>{{lista}}</p>
            <div style="display: flex; column-gap: 5px;">
                <div >
                    <form action="{% url 'eliminarMazo' lista.id %}" method="POST">{% csrf_token %}
                        <button type="submit"> Eliminar </button>
                    </form>
                </div>
                <div >
                        <button type="submit"> <a href="{% url 'editarMazo' lista.id %}">Editar</a></button> 
                </div>
            </div>
        {% endfor %}

    <a href="{% url 'crearMazo' %}">Crear torneo</a> 
{% endblock formularios %}