{% extends 'index.html' %}

{% load static %}
 

{% block formularios %}
{{mensaje}}    
<h1>Lista de Torneos</h1>

        {% for lista in torneo %}
            <p>{{lista.nombre_torneo}}  {{lista.codigo_de_torneo}}</p>
            
            <div style="display: flex; column-gap: 5px;">
                <div >
                    <form action="{% url 'eliminarTorneo' lista.id %}" method="POST">{% csrf_token %}
                        <button type="submit"> Eliminar </button>
                    </form>
                </div>
                <div >
                        <button type="submit"> <a href="{% url 'editarTorneo' lista.id %}">Editar</a></button> 
                </div>
            </div>
        {% endfor %}
        
    <a href="{% url 'crearTorneo' %}">Crear torneo</a> 
{% endblock formularios %}